<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <app-portada></app-portada>
    <div>
        <section id="timeline">

            <div class="tl-item">

                <div class="tl-bg" style="background-image: url(https://p4.wallpaperbetter.com/wallpaper/872/906/514/light-movie-film-film-projector-wallpaper-preview.jpg); background-size: cover;"></div>

                <div class="tl-year">
                    <a routerLink="/films" class="f2 heading--sanSerif">Películas</a>
                </div>

                <div class="tl-content">
                    <h1>Lista Completa de todas las películas</h1>
                    <p>Haz click en el enlace para ver información de más de 9000 películas. Podrás consultar detalles como la
                        duración, el presupuesto o la valoración general que se le ha dado a dicha película entre muchas otras
                        cosas. Para poder valorar o dar "me gusta" a una película, inicia sesión con TMDB.
                    </p>
                </div>

            </div>

            <div class="tl-item">

                <div class="tl-bg" style="background-image: url(https://cl.buscafs.com/www.tomatazos.com/public/uploads/images/222294/222294_1140x516.jpg); background-size: cover;"></div>

                <div class="tl-year">
                    <a routerLink="/series" class="f2 heading--sanSerif">Series</a>
                </div>

                <div class="tl-content">
                    <h1 class="f3 text--accent ttu">Vestibulum laoreet lorem</h1>
                    <p>Suspendisse potenti. Sed sollicitudin eros lorem, eget accumsan risus dictum id. Maecenas
                        dignissim ipsum vel mi rutrum egestas. Donec mauris nibh, facilisis ut hendrerit vel, fringilla
                        sed felis. Morbi sed nisl et arcu.</p>
                </div>

            </div>

            <div class="tl-item">

                <div class="tl-bg" style="background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db5870f9-a9c4-4f22-9090-4185790f2d42/d5fby4-15534418-ebcf-409e-871e-ba20868e9ae4.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RiNTg3MGY5LWE5YzQtNGYyMi05MDkwLTQxODU3OTBmMmQ0MlwvZDVmYnk0LTE1NTM0NDE4LWViY2YtNDA5ZS04NzFlLWJhMjA4NjhlOWFlNC5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.5IH73JUymLn5qMLE3aXDu_GIfioyMlnR1BMLm8qd9fU)"></div>

                <div class="tl-year">
                    <a routerLink="/actors" class="f2 heading--sanSerif">Actores</a>
                </div>

                <div class="tl-content">
                    <h1 class="f3 text--accent ttu">Phasellus mauris elit</h1>
                    <p>Mauris cursus magna at libero lobortis tempor. Suspendisse potenti. Aliquam interdum vulputate
                        neque sit amet varius. Maecenas ac pulvinar nisi. Fusce vitae nunc ultrices, tristique dolor at,
                        porttitor dolor. Etiam id cursus arcu, in dapibus nibh. Pellentesque non porta leo. Nulla eros
                        odio, egestas quis efficitur vel, pretium sed.</p>
                </div>

            </div>
        </section>
    </div>
</body>

</html>