<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul class="Words">
        <li class="Words-line">
          <p>&nbsp;</p>
          <p></p>
        </li>
        <li class="Words-line">
          <p>Error</p>
          <p></p>
        </li>
        <li class="Words-line">
          <p></p>
          <p>Page</p>
        </li>
        <li class="Words-line">
          <p>4</p>
          <p>Not</p>
        </li>
        <li class="Words-line">
          <p>0</p>
          <p>Found</p>
        </li>
        <li class="Words-line">
          <p>4</p>
          <p><a routerLink="">Inicio</a></p>
        </li>
        <li class="Words-line">
          <p></p>
          <p>&nbsp;</p>
        </li>
      </ul>
</body>
</html>